@import '../../stylesUtils/variable.scss';

.nav-bar {
  width: 260px;

  background-color: #43425d;
}

.nav-bar__link {
  display: flex;
  align-items: center;
  gap: 10px;

  font-size: 15px;

  padding: 20px;
}

.nav-bar__link--calendar {
  position: relative;

  background-color: #39394f;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 5px;
    height: 100%;
    background-color: #a3a0fb;
  }
}

.nav-bar__link-title {
  color: $secondary-font-color;
}
