$primary-font-color: #4d4f5c;
$secondary-font-color: #ffffff;
$third-font-color: #43425d;

$main-bg-color: #f0f0f7;
$white-bg-color: #ffffff;

$blue-color: #3b86ff;

$table-border-color: #eaf0f4;

:root {
  font-family: 'Source Sans Pro', sans-serif;
  letter-spacing: 0px;
  line-height: 1.5;
  font-weight: 400;
  font-size: 14px;
  font-style: normal;

  color: $primary-font-color;
  background-color: $main-bg-color;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
