@import './stylesUtils/variable.scss';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  max-width: 1600px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

ol,
ul {
  list-style: none;
}

button {
  cursor: pointer;
  font-family: inherit;
  background-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

.italic {
  font-style: italic;
}
